
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./static/css/bootstrap.min.css">
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
   <script> var loadFile = function(event) { var output = document.getElementById('output'); output.src = URL.createObjectURL(event.target.files[0]); }; </script>
</head>
<body style="background-image:url(static/images/yes.png);background-size: 100% 100%;background-repeat: no-repeat;">
  <nav class="navbar navbar-inverse ">
  <div class="container-fluid navbar-right">
      <span style="color: white">Logged as</span>
<img src="data:image/{{profile_image_type}};base64,{{profile_image}}" height="50px" />
  </div>
</nav>
{%if flash_message%}
<div class="alert alert-warning">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Warning!</strong> {{flash_message}} .
</div>
{%endif%}


<div class="container">
  <div class="row">

      <div class="col-sm-5">
        <img src="data:image/{{profile_image_type}};base64,{{profile_image}}" height="250px" />
      </div>
  
      <div class="col-sm-7">
        <div class="container">

           <div class="row">
           
          <div class="col-sm-8">
      <div class="form-group row">
        <div class="col-xs-4">
          <label for="name"><b>Name</b></label>{{user['name']}}
      </div></div>

      <div class="form-group row">
      <div class="col-xs-4">
          <label for="email"><b>Email</b></label>{{user['email']}}
          </div></div>


      <div class="form-group row">
        <div class="col-xs-4">
          <label for="dob"><b>Date of Birth</b></label>{{user['dob']}}
      </div></div>

      <div class="form-group row">
        <div class="col-xs-4">
          <label for="ph"><b>Phone Numer</b></label>{{user['phone_no']}}
      </div></div>

       <div class="form-group row">
        <div class="col-xs-4">
        <label for="comment">Address</label>{{user['address']}}
      </div> </div>
      
      </div>
      </div>
      </div>
  </div>
</div>
</body>